---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Sugar | AL Farhan" lang="en" dir="ltr" locale="en" currentPath="commodities/sugar">
  <h1 class="text-2xl font-semibold text-slate-900">Sugar</h1>
</BaseLayout>
